# QUALYTICS INFO
QUALYTICS_URL="https://your-dev-instance.qualytics.io/"
QUALYTICS_TOKEN=<your_api_token>

# SNOWFLAKE INFO
SNOWFLAKE_PRIVATE_KEY_PATH=<private_key_payyh>
SNOWFLAKE_HOST="your-host.snowflakecomputing.com"
SNOWFLAKE_ROLE="ROLE"
SNOWFLAKE_DB="DATABASE"
SNOWFLAKE_DEV_SCHEMA="SCHEMA"
SNOWFLAKE_AUTH_METHOD="keypair"
SNOWFLAKE_USER="USER"
SNOWFLAKE_WAREHOUSE="WAREHOUSE"

# POSTGRES INFO
POSTGRES_HOST=<your_host>
POSTGRES_USER="postgres"
POSTGRES_PORT="5432"
POSTGRES_PASSWORD="postgres"
POSTGRES_DB="database"
POSTGRES_SCHEMA="public"